

.containercart {
    margin: 20px;
    border: 1px solid #333;
    padding: 10px;
   
}
.containercart  button {
    padding: 8px 16px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
 
.Cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.emptycart {
    margin-top: 0;
}
 