.containerbtn {
    display: flex;
    flex-direction: column;
}

.btncount {
    display: flex;
    justify-content: center;
    
    
}

.btnC{
    padding: 8px 16px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn{       
    margin: 15px;
    padding: 8px 16px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
